@media (max-width: 768px) {
    .right-column-div {
        margin-top: -50%;
        text-align: center;
    }

    .main-column-div {
        height: 75vh;
    }

    .technologies-list {
        text-align: -webkit-center;
    }

    .work-date {
        text-align: center;
        margin-bottom: 4px;
    }

    .social-footer {
        background: #d8d9db;
        left: auto;
        width: -webkit-fill-available;
        bottom: 0;
    }

    .social-footer-ul {
        justify-content: center;
        padding-bottom: 15px;
    }

    .contact-div {
        padding-bottom: 100px;
    }
}